.container {
    display: flex;
    height: 600px;
    width: 400px;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.card{
    height: 40%;
    width: 50%;
    background-color: grey;
    margin-top: 40px;
    display: flex;
}