html {
    background-color: white;
}

.mainNav {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center; 
}

.container {
    width: 50%;
    margin: 0 auto; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline-block; 
    margin: 0 20px; 
}

li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
