html {
    background-color: black;
}

.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    color: black;
    padding: 20px 0;
}

.container {
    width: 50%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}
